.scroll{
    max-height: 120px;
    border: 1px solid #ddd;
    display:flex;
    overflow-x: auto;
    margin-bottom: 10px;
}

.scroll::-webkit-scrollbar{
    width: 1;
}

.scroll .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 4px;
}